body {
    font-family: 'Trebuchet MS';
    background-color: red;
}

#headingBackground {
    z-index: -1;
    /* width: 100vw; */
    top: 0vh;
    margin-top: -2vh;
    height: 100vh;
    justify-content:center;
    width: 100vw;
    justify-content: stretch;
}

#headingBackgroundImage {
    margin-top: 0vh;
    width: 100vw;
    border-bottom: #171717 50px solid;
    margin-left: -0.5vw;
}

#websiteName {
    font-size: 100px;
    text-align: center;
    background-color: transparent;
    color: white;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-family:'Trebuchet MS';
    font-weight: bolder;
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#websiteDescription {
    text-align: center;
    background-color: transparent;
    color: white;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-weight: bold;
    font-family: 'Trebuchet MS';
    font-size: 40px;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#appBackground {
    justify-content: center;
    width: 100vw;
    justify-content: stretch;
    height: 100vh;
    position: fixed;
    z-index: -3;
    margin-left: -50.5vw;
    top: 0vh;
}

#backgroundImage {
    margin-top: -40vh;
    margin-left: 50vw;
    width: 100vw;
}

#graySquareBackground {
    justify-content: center;
    justify-content: stretch;
    z-index: -1;
}

#graySquareBackgroundImage {
    margin: 5%;
    width: 90vw;
    z-index: -1;
}


/* Calculator Section */
.main_container {
    color: white;
    margin-left: 7.5vw;
    margin-top: -165vh;
    z-index: 1;
}


#calculatorHeading {
    text-align: center;
    margin-top: 0vh;
    font-size: 50px;
    font-weight: bold;
}


.bar-graph {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 300px;
    width: 32%;
    border: 4px solid white;
    z-index: 3;
    margin-left: 50vw;
    margin-top: -48.75vh;
    position: relative; /* Ensure position is set for z-index to take effect */
    background-color: rgb(90, 90, 90);
}

.bar {
    width: 50px;
    background-color: #59d25d;
    text-align: center;
    margin: 0px;
    color: white;
    font-weight: bold;
    z-index: 2;
    position: relative; /* Ensure position is set for z-index to take effect */
}


#remaining_display {
    text-align: center;
    margin-top: 20vh;
    font-size: 35px;
    font-weight: bold;
}

#salary-bar{
    width: 50px;
    background-color: #cda852;
    text-align: center;
    margin: 0px;
    color: white;
    font-weight: bold;
}

#salary_display {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    border: red 4px solid;
}

input[type="number"] {
    background-color: lightgray;
    width: 500px;
    margin-bottom: 10px;
    height: 50px;
    border-radius: 10px;
}

.budget-boxes{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
}
.box {
    width: 45%;
    padding: 10px;
    background-color: #2980b9;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
}

#submit_btn {
    z-index: 1;
    background-color: white;
    font-family: 'Trebuchet MS';
    font-size: 20px;
    margin-top: 4vh;
    width: 10vw;
    height: 5vh;
    border-radius: 10px;
    cursor: pointer;
}

#submit_btn:hover {
    opacity: 0.5;
}

.budget-boxes {
    margin-top: 30vh;
}


/* Recommended Section */
#recommendedSection {
    color: white;
    margin-top: 0vh;
    z-index: 1;
}

#recommendedSectionBackground {
    justify-content: center;
    justify-content: stretch;
    z-index: -1;
    margin-top: 50vh;
}

#recommendedSectionBackgroundImage {
    margin: 5%;
    width: 90vw;
    z-index: -1;
}

#recommendedHeading {
    text-align: center;
    margin-top: -70vh;
    font-size: 50px;
    font-weight: bold;
}

.search-container {
    text-align: center;
    margin-top: 10vh;
}

#keyword{
    width: 45vw;
    height: 5vh;
    border-radius: 15px;
}

#searchButton {
    width: 10vw;
    height: 4vh;
    font-size: 20px;
    border-radius: 10px;
    font-family: 'Trebuchet MS';
    cursor: pointer; 
}

#searchButton:hover {
    opacity: 0.5;
}

/* About us section */
.aboutUsSection {
    margin-top: 40vh;
}

#aboutUsHeading {
    font-size: 40px;
    color: white;
    background-color: #171717;
    text-align: center;
    border: #171717 4px solid;
    border-radius: 15px;
    font-weight: bold;
}

#aboutUsDescription {
    font-size: 20px;
    color: white;
    background-color: #171717;
    padding: 10px;
    border: #171717 4px solid;
    border-radius: 15px;
    margin-top: 2vh;
}